 * {
     box-sizing: border-box;
 }

 body,
 h1,
 h2,
 p,
 figure,
 blockquote {
     margin: 0;
     padding: 0;
 }

 main {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     padding: 80px 1rem;
     gap: 16px;
 }

 main>* {
     flex-basis: 100%;
 }

 body {
     font-family: 'League Spartan', sans-serif;
     text-align: center;
 }

 .heading-intro {
     max-width: 375px;
 }

 .heading-intro p {
     color: hsl(303, 10%, 53%);
     font-size: 1.1875rem;
     line-height: 1.31;
     font-weight: 500;
     margin-bottom: 48px;
 }

 h1 {
     color: hsl(300, 43%, 22%);
     font-size: 2.5rem;
     line-height: .8;
     font-weight: 700;
     margin-bottom: 32px;
 }

 .rating-section {
     display: grid;
     max-width: 375px;
     gap: 16px;
 }

 .rating-container {
     display: flex;
     flex-flow: column;
     align-items: center;
     background-color: #F7F2F7;
     padding-left: 48px;
     padding-right: 48px;
     padding-bottom: 16px;
     border-radius: .5rem;
 }

 .rating-container h2 {
     color: hsl(300, 43%, 22%);
     font-size: 1.0625rem;
     font-weight: 700;
 }

 .ratings {
     width: 100px;
     height: 40px;
     background-image: url("../images/icon-star.svg");
     background-repeat: space no-repeat;
     background-position: center center;
 }

 .verified-buyer-card {
     max-width: 375px;
     background-color: hsl(300, 43%, 22%);
     color: white;
     border-radius: .5rem;
     text-align: start;
     padding-top: 2rem;
     padding-bottom: 2rem;
 }

 .verified-buyer-card figure {
     margin-left: 2rem;
     margin-right: 2rem;
 }

 .flex-div {
     display: flex;
     align-items: center;
 }

 .verified-buyer-card img {
     width: 2.5rem;
     height: 2.5rem;
     border-radius: 50%;
     margin-right: 1.5rem;
 }

 .verified-buyer-card figcaption {
     font-size: 1.0625rem;
     font-weight: 700;
 }

 .verified-buyer-card span {
     color: hsl(333, 80%, 67%);
     display: inline-block;
     margin-top: .375rem;
     font-size: 1.0625rem;
     font-weight: 400;
 }

 .verified-buyer-card blockquote {
     margin-top: 1.5rem;
     font-size: 1.0625rem;
     line-height: 1.3;
     font-weight: 500;
 }